/* Content common to all pages */

body, input, textarea {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body, html {
    height: 100%;
    width: 100%;
}

textarea {
    height: 110px;
    width: 98%;
    padding: 5px;
}

#sidebar_blockBody {
    display: flex;
    min-height: 100%;
    max-height: fit-content;
    width: 100%;
}

#blockBody {
    width: 100%;
    padding: 50px 15% 30px 8%;
}

a {
    color: rgb(0, 123, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 105, 217);
    text-decoration: underline;
}

input[type="submit"] {
    padding: 6px 12px 6px 12px;
    color: white;
    border: 1px solid rgb(97, 176, 255);
    border-radius: 8px;
    background-color: rgb(0, 123, 255);
}

input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 3px rgb(178, 216, 255);
}


#pageTitle {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 25px;
}

/* Top navbar*/

#navbar {
    display: flex;
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: rgb(68, 152, 255);
}

.navbar-link, .navbar-disabledLink {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100%;
    min-width: fit-content;
    margin-right: 15px;
    padding: 0 5px 0 5px;
    color: white;
}

.navbar-disabledLink {
    color: rgb(90, 90, 90);
}

.navbar-link:hover {
    text-decoration: none;
}

.navbar-disabledLink:hover {
    color: rgb(90, 90, 90);
    text-decoration: none;
    cursor: default;
}

#navbar-network {
    margin: 0 60px 0 10px;
    padding-left: 30px;
    font-size: 23px;
    background-image: url(icon_network_logo.png);
    background-repeat: no-repeat;
    background-position-y: 45%;
    background-size: 23px;
}

/* Sidebar */

#sidebar {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    padding-top: 70px;
    background-color: rgb(116, 178, 255);
}

#sidebar hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-link, .sidebar-log {
    display: flex;
    align-items: center;
    height: 40px;
    color: white;
}

.sidebar-link {
    justify-content: center;
}

.sidebar-link:hover, .sidebar-log:hover {
    text-decoration: none;
}

.sidebar-log {
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 100px;
    background-size: 18px;  
}

#sidebar-username {
    margin-bottom: 10px;
    padding-top: 25px;
    color: rgb(0, 78, 161);
    font-size: 18px;
    font-weight: bold;
    background-image: url(icon_user_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    background-size: 25px;
}

#sidebar-notSignedIn {
    font-size: 14px;
    font-style: italic;
}

#sidebar-notSignedIn:hover {
    color: white;
    text-decoration: none;
    cursor: default;
}

#sidebar-logout {
    padding-left: 35px;
    background-image: url(icon_logout.png);
}

#sidebar-login {
    padding-left: 35px;
    background-image: url(icon_login.png);
}

#sidebar-register {
    padding-left: 30px;
    background-image: url(icon_register.png);
    background-size: 22px;
}

#sidebar hr {
    width: 100px;
}

/* Posts pages */

.post, #newPost-form {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
}

#newPost-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

#newPost-title i {
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
}

#newPost-button {
    margin-top: 3px;
}

.post-username_timestamp {
    display: flex;
    margin-bottom: 20px;
}

.post-timestamp {
    position: absolute;
    top: 11px;
    right: 8px;
    font-size: 11px;
    color:rgb(90, 90, 90);
}

.post-text {
    word-break: break-all;
    white-space: pre-line;
}

.post-edited {
    margin-top: 10px;
    color:rgb(100, 100, 100);
    font-size: 12px;
    font-style: italic;
}

.post-errorMessage {
    margin-top: 10px;
    color: red;
    font-size: 13px;
}

.post-likes {
    display: flex;
    margin-top: 30px;
}

.post-likeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 30px;
}

.post-likeButton, .post-dislikeButton, .post-likeAnimation {
    display: flex;
    position: relative;
    height: 13px;
    width: 13px;
    transform: rotate(-45deg);
}

.post-likeButton:hover, .post-dislikeButton:hover, .post-likeAnimation:hover {
    cursor: pointer;
}

.post-likeButton {
    background-color: rgb(150, 150, 150);
}

.post-dislikeButton, .post-likeAnimation {
    background-color: red;
}

.post-likeButton::before, .post-dislikeButton::before, .post-likeAnimation::before, .post-likeButton::after, .post-dislikeButton::after, .post-likeAnimation::after{
    content: "";
    display: flex;
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: inherit;
    border-radius: 50%;
}

.post-likeButton::before, .post-dislikeButton::before, .post-likeAnimation::before {
    top: -50%;
}

.post-likeButton::after, .post-dislikeButton::after, .post-likeAnimation::after {
    right: -50%;
}

.post-likeAnimation, .post-likeAnimation::before, .post-likeAnimation::after {
    animation-name: like;
    animation-duration: 0.5s;
}

@keyframes like {
    0% {
        height: 13px;
        width: 13px;
        background-color: rgb(200, 200, 200);
    }
    1% {
        height: 0px;
        width: 0px;
        background-color: red;
    }
    100% {
        height: 13px;
        width: 13px;
        background-color: red;
        }
}

.post-editButton, .post-deleteButton {
    position: absolute;
    bottom: 5px;
    height: 27px;
    width: 27px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: solid white;
    border-radius: 5px;
}

.post-editButton {
    right: 45px;
    background-image: url(icon_edit_post.png);
    background-size: 23px;
}

.post-deleteButton {
    right: 8px;
    background-image: url(icons_delete_post.png);
    background-size: 25px;
}

.post-editButton:hover, .post-deleteButton:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 3px rgb(173, 173, 173);
}

.post-deleteWarning-div {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(102, 102, 102, 0.8);
}

.post-deleteWarning-message {
    margin-top: 40px;
    margin-bottom: 10px;
}

.post-deleteWarning-yesButton, .post-deleteWarning-noButton {
    padding: 6px 12px 6px 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.post-deleteWarning-yesButton {
    color: red;
    margin-right: 15px;
}

.post-deleteWarning-yesButton:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 3px rgb(238, 93, 93);
}

.post-deleteWarning-noButton:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 3px rgb(105, 105, 105);
}

/* Profile page */

#profile-username_followButton {
    display: flex;
    margin-top: 20px;
}

#profile-username_followButton > * {
    display: flex;
    align-items: center;
    height: 70px;
}

#profile-username {
    margin-right: 50px;
    padding-left: 60px;
    font-size: 30px;
    background-image: url(icon_user_black.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50px;
}

#profile-posts_followers_following {
    display:flex;
    margin-top: 20px;
}

#profile-posts_followers_following > * {
    margin-right: 40px;
}

#profile-postsCount, #profile-followersCount, #profile-followingCount {
    margin-bottom: 3px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#profile-header hr {
    margin-top: 20px;
    margin-bottom: 30px;
    width: calc(100% + 17px);
}

#profile-postsHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Log forms */

.logForm-textbox {
    height: 35px;
    margin-bottom: 15px;
    padding: 0px 10px 0px 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
}

.logForm-textbox {
    width: 400px;
}

.logForm-textbox:focus {
    border: 1px solid rgb(97, 176, 255);
    box-shadow: 0 0 2px 3px rgb(178, 216, 255);
    outline: none;
}

#log-errorMessage {
    color: red;
    margin-bottom: 15px;
}

#logForm-button {
    margin-bottom: 30px;
    padding: 6px 12px 6px 12px;
    color: white;
    border: 1px solid rgb(97, 176, 255);
    border-radius: 8px;
    background-color: rgb(0, 123, 255);
}

#logForm-button:hover {
    cursor: pointer;
}

/* Pagination */

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: calc(100% + 17px)
}

.pagination-link, .pagination-disabledLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 6px;
    margin-left: -1px;
    border: 1px solid rgb(185, 185, 185);
}

.pagination-disabledLink {
    color: rgb(90, 90, 90);
}

.pagination-disabledLink:hover {
    color: rgb(90, 90, 90);
    text-decoration: none;
    cursor: default;
}

#pagination-first, #pagination-last {
    width: 50px;
}

#pagination-previous, #pagination-next {
    width: 80px;
}

#pagination-page {
    width: 100px;
    color: black;
}

#pagination-first {
    border-radius: 5px 0 0 5px;
}

#pagination-last {
    border-radius: 0 5px 5px 0;
}